---
interface Props {
    value: string | boolean;
    plan: string;
}

const { plan, value } = Astro.props;
---

<td class="p-4 max-sm:text-center">
    {
        typeof value === "boolean" ? (
            value ? (
                <svg
                    class="inline-block size-4 fill-primary"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                >
                    <path
                        fill-rule="evenodd"
                        d="M12.416 3.376a.75.75 0 0 1 .208 1.04l-5 7.5a.75.75 0 0 1-1.154.114l-3-3a.75.75 0 0 1 1.06-1.06l2.353 2.353 4.493-6.74a.75.75 0 0 1 1.04-.207Z"
                        clip-rule="evenodd"
                    />
                </svg>
            ) : (
                <svg
                    class="inline-block size-4 fill-on-surface-variant"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    aria-hidden="true"
                    data-slot="icon"
                >
                    <path d="M3.75 7.25a.75.75 0 0 0 0 1.5h8.5a.75.75 0 0 0 0-1.5h-8.5Z" />
                </svg>
            )
        ) : (
            <span class="text-sm/6 text-on-surface">{value}</span>
        )
    }
    <span class="sr-only">
        {
            typeof value === "boolean"
                ? value
                    ? `Included in ${plan}`
                    : `Not included in ${plan}`
                : `${plan} includes: ${value}`
        }
    </span>
</td>
